<section id="basic-datatable" class="mb-3">
  <div class="row">
    <div class="col-12">
      <div class="content-header">CSV DataTable</div>
      <input type='file' (change)="fileChanged($event.target.files)">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <!-- <select name="keys" [(ngModel)]="csvKeys">
        <option *ngFor="let keys of csvKeys" [value]="keys">{{keys}}</option>
      </select> -->

      <!-- <ngx-datatable class="bootstrap" [rows]="csvData" [loadingIndicator]="loadingIndicator" [columns]="columns"
        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable">
      </ngx-datatable> -->

      <table *ngIf="isTable">
        <th *ngFor="let keys of csvKeys;let iKey = index">{{keys}}
          <tr>
            <select name="keys" (change)="headerChange($event.target.value,iKey)">
              <option default value="">Select</option>
              <option *ngFor="let keys of staticKeys" [value]="keys.key">{{keys.name}}</option>
            </select>
          </tr>
        </th>
        <tr *ngFor="let data of csvData">
          <td *ngFor="let key of csvKeys">{{data[key]}}</td>
        </tr>
      </table>

    </div>
  </div>
</section>

<div>
  <button (click)="exportAsXLSX()">Submit</button>
</div>